In [2]:
import pandas as pd
import awswrangler as awr
import openpyxl

In [42]:
sql_path = r"C:\Users\raphael.almeida\Documents\Processos\placas_acompanhamento\sql\all_boards_ATIVOS.sql"
with open (sql_path, 'r') as file:
    query = file.read()

df = awr.athena.read_sql_query(query, database='silver')

In [43]:
df_total = df.drop_duplicates(subset=['chassi', 'placa'])

In [46]:
df_total[df_total['status']=='ATIVO'].count()

df_total2 = df_total.drop_duplicates(subset='placa')
df_total2['placa'].nunique()

32242

In [9]:
df_total['status']

0         ATIVO
1         ATIVO
2         ATIVO
4         ATIVO
5         ATIVO
          ...
103581    ATIVO
103582    ATIVO
103587    ATIVO
103600    ATIVO
103607    ATIVO
Name: status, Length: 32483, dtype: string

# validação

In [41]:
df_conjuntos = df.drop_duplicates(subset=['conjunto', 'matricula', 'empresa'])
#df_conjuntos[['data_ativacao']].sort_values(by='data_ativacao',ascending=False)
df_conjuntos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17393 entries, 0 to 103600
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   placa                    17393 non-null  string
 1   chassi                   17393 non-null  string
 2   id_placa                 17393 non-null  Int64
 3   id_veiculo               17393 non-null  Int64
 4   id_carroceria            4410 non-null   Int64
 5   matricula                17393 non-null  Int64
 6   conjunto                 17393 non-null  Int64
 7   unidade                  17391 non-null  string
 8   consultor                17345 non-null  string
 9   status                   17393 non-null  string
 10  cliente                  17393 non-null  string
 11  data                     17393 non-null  datetime64[ns]
 12  data_ativacao            17393 non-null  datetime64[ns]
 13  suporte                  15736 non-null  string
 14  data_filtro              17393 non-null  object
 15  empresa                  17393 non-null  string
 16  coverage                 17393 non-null  Int64
 17  beneficio                17393 non-null  string
 18  categoria                17393 non-null  string
 19  tipo_categoria           17393 non-null  string
 20  data_ativacao_beneficio  17393 non-null  object
 21  status_beneficio         17393 non-null  string
 22  data_atualizacao         17393 non-null  datetime64[ns]
dtypes: Int64(6), datetime64[ns](3), object(2), string(12)
memory usage: 3.3+ MB

In [20]:
today = pd.Timestamp.today().normalize()
yesterday = today - pd.Timedelta(1, unit='day')
friday = today - pd.Timedelta(3, unit='day')

if today.day == 0:
    date = friday
else:
    date = yesterday

print(date)

2025-07-14 00:00:00

In [31]:
df['data_ativacao'] = pd.to_datetime(df['data_ativacao']).dt.normalize()
df['data_ativacao']

0        2025-06-08
1        2024-10-26
2        2024-11-20
3        2024-11-20
4        2025-02-08
            ...
103609   2024-09-17
103610   2024-09-17
103611   2025-06-09
103612   2025-06-09
103613   2024-09-18
Name: data_ativacao, Length: 103614, dtype: datetime64[ns]

validação dia 8

In [40]:
random_date = pd.to_datetime('2025-07-07').normalize()  
df_validacao3 = df_conjuntos[df_conjuntos['data_ativacao']==random_date]
df_validacao3.value_counts(subset='empresa')
#df_validacao3[df_validacao3['empresa']=='Viavante'].value_counts('status')

empresa
Viavante    91
Stcoop       2
Name: count, dtype: int64